/dataset
/code/__pycache__/*
/code/*/__pycache__
/code/wandb
/src/__pycache__/*
/src/models/__pycache__/*
/src/trainers/__pycache__/*
# Trainers not used
/code/trainers/not_used.py
/_previous/*

# Datasets
/dataset/*

# Models
/models/*

# Wandb
/wandb/*

# LaTex
/memoria_latex/tfgetsinf/*.aux
/memoria_latex/tfgetsinf/*.bbl
/memoria_latex/tfgetsinf/*.bcf
/memoria_latex/tfgetsinf/*.lof
/memoria_latex/tfgetsinf/*.log
/memoria_latex/tfgetsinf/*.lot
/memoria_latex/tfgetsinf/*.pdf
/memoria_latex/tfgetsinf/*.toc
