/dataset
/code/__pycache__/*
/code/*/__pycache__
/code/wandb
/memorias_checkpoint/zip/*
/src/__pycache__/*
/src/models/__pycache__/*
/src/trainers/__pycache__/*
# Trainers not used
/code/trainers/not_used.py
/_previous/*

# Datasets
/dataset/*

# Models
/models/*

# Wandb
/wandb/*