/dataset
/code/__pycache__/*
/code/*/__pycache__
/code/wandb
/src/__pycache__/*
/src/models/__pycache__/*
/src/trainers/__pycache__/*
# Trainers not used
/code/trainers/not_used.py
/_previous/*

# Datasets
/dataset/*

# Models
/models/*

# Wandb
/wandb/*

# LaTex
/documentos/memoria_latex/*.aux
/documentos/memoria_latex/*.bbl
/documentos/memoria_latex/*.bcf
/documentos/memoria_latex/*.lof
/documentos/memoria_latex/*.log
/documentos/memoria_latex/*.lot
/documentos/memoria_latex/memoria_tfg*.pdf
/documentos/memoria_latex/*.toc
/documentos/memoria_latex/*.out
/documentos/memoria_latex/*.xml
/documentos/memoria_latex/*.blg
/documentos/memoria_latex/*.gz
